{% extends 'ic/base.html' %}
{% block title %} Списки для скачивания {% endblock title %}
{% block content %}
<table>
        <tr>
            <th colspan="5" align="center">Списки для скачивания</th>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/excel'>Список действующих сотрудников, ФГГС и работников ИЦ УМВД</a></td>
        </tr>	
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_arm_isod'>Список АРМ ИЦ сети ИСОД МВД для ЦИТСиЗИ</a></td>
        </tr>
</table>
<!--get_absolute_url
        <h3>Списки для скачивания</h3>
        {% for emp in employees_list %}
            <div>
                <a href="{{ emp }}">
                    {{ emp.emp_surname }} {{ emp.emp_name }} {{ emp.emp_middle_name }}</a>,
                сл. тел: {{ emp.emp_phone }},
                каб. {{ emp.fk_cabinet_location }}
            </div>
        {% endfor %}
        <h3>Дни рождения в текущем месяце:</h3>
        {% for emp_bm in employees_list %}
            {% if emp_bm.emp_birthday.month == current_month %}
            <div>
                {{ emp_bm.emp_surname }} - {{ emp_bm.emp_birthday }}
            </div>
            {% endif %}
        {% endfor %}
-->

{% endblock content %}
