{% extends 'ic/base.html' %}
{% block title %} Списки для скачивания {% endblock title %}
{% block content %}
<table>
        <tr>
            <th colspan="5" align="center">Списки для скачивания</th>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/excel'>Список действующих сотрудников, ФГГС и работников ИЦ УМВД</a></td>
        </tr>	
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_emp_all_new'>Список сотрудников, ФГГС и работников ИЦ УМВД (с уволенными и переведенными)</a></td>
        </tr>	
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_arm_isod'>Список АРМ ИЦ сети ИСОД МВД для ЦИТСиЗИ</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_property'>Список имущества ИЦ с закрепленными сотрудниками</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_information_systems'>Информационные системы</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_employees_children'>Сотрудники: дети</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_employees_spouses'>Сотрудники: супруги</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_employees_automoto'>Сотрудники: личный автотранспорт</a></td>
        </tr>
        <tr>
            <td><a href='/ic/download_lists/export/get_xlsx_employees_weapons'>Сотрудники: личное оружие</a></td>
        </tr>
</table>
{% endblock content %}
