* {
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  background: #4d4d4d;
  color: #cfcfcf;
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
  background: #424242;
  color: #cfcfcf;
}
#main > nav {
  order: -1;
}
header, footer {
  background: #2e2e2e;
  color: #cfcfcf;
  height: 20vh;
}
header, footer, article, nav, aside {
  padding: 1em;
}
/************************** Авторизация/Выход пользователя **************************/
div.registration {
    width: 200px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -125px 0 0 -125px;
}
/********************************** Ссылки ************************************/
a {
  color: #cfcfcf;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: black;
}
a:visited {
  color: #cfcfcf;
}


table {
    text-align: left;
    background: #2e2e2e;
    color: #cfcfcf;
    margin: auto; /* расположение таблицы в центре */
    width: 80%
}
th {
    font-size: 16px;
}
td {
    background: #4d4d4d;
    padding: 5px;
}
